<section>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef> Zip </th>
      <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="beds">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Beds </th>
        <td mat-cell *matCellDef="let element"> {{element.beds}} </td>
      </ng-container>

      <ng-container matColumnDef="baths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Baths </th>
        <td mat-cell *matCellDef="let element"> {{element.baths}} </td>
      </ng-container>

      <ng-container matColumnDef="sq__ft">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SQ__FT </th>
        <td mat-cell *matCellDef="let element"> {{element.sq__ft}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> TYPE </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="sale_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale date </th>
        <td mat-cell *matCellDef="let element"> {{element.sale_date}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
      </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  
</section>